@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<h2>@Html.ActionLink("Display All Courses", "DisplayCourses", "Student", null, null)</h2>

<h2>
@Html.ActionLink("Display Enrolled Courses", "DisplayEnrolled", "Student", null, null)
</h2>

